@(message: String)


@main("About Us!") {
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/main.css")">
        <body>
            <div id="container">
                <div id="header">
                    <h1><span class="off">GitHub Visualisation and Recommendation</span></h1>
                    <div id="links">
                        <a href="@routes.ChordUtil.index()">Lang-Visual</a>
                        <a href="@routes.GeoUtil.index()">Geo-Visual</a>
                        <a href="@routes.RecomSystem.index()">Recommendation</a>
                    </div>
                </div>
            </div>
            <div id="content">

                <h1>Work In Progress!!!!!</h1>
                <ul>
                    <li>Our Project aims at visualising the use of programming languages used in software projects on GitHub</li><br>
                    <li>We have used the GitHub Timeline dataset of the year 2013.</li><br>
                    <li>We aim to portray "Who Knows What on GitHub" by using the Chord Diagram D3-Graphical interface.</li><br>
                    <li>We made use of the repo_owner and repo_lang fields to analyse the usage of combinations of two languages
                        together and represented it in the form of a chord diagram.</li><br>
                    <li>We chose to concentrate on the top 15 languages being used on software projects on GitHub.</li>
                </ul>
                <br/>
                <h1>Tech Stack Used</h1>
                <ul>
                    <li>Play 2.0 Framework is the backbone environment of our Project.</li><br/>
                    <li>BigQuery : Google's datastore that is housing the github dataset.</li><br/>
                    <li>D3.js : For the Languages visualisation</li><br/>
                    <li>Google Charts : For the Geographical Distribution visualisation.</li><br/>
                </ul>
            </div>

        </body>
}