@(message: List[Geo])
@import play.libs.Json;
<html>
    <head>
        <script type='text/javascript' src='https://www.google.com/jsapi'></script>
        <script type='text/javascript'>
                google.load('visualization', '1', {'packages': ['geochart']});
                google.setOnLoadCallback(drawMarkersMap);

                function drawMarkersMap() {
                    var data = google.visualization.DataTable();

                    var length = @message.length;

                    data.addColumn("string","City");
                    data.addColumn("string","Lang");
                    data.addColumn("number","Frequency");

                    for(var i=0;i<length;i++){
                        data.addRow([message[i].city,
                            message[i].lang,
                            100])
                    };

                    $.forEach(message, function(i,geo){
                        data.addRow([geo.city,
                            geo.lang,
                            100])
                    });



                    var options = {
                        displayMode: 'markers',
                        colorAxis: {colors: ['green', 'blue']}
                    };

                    var chart = new google.visualization.GeoChart(document.getElementById('chart_div'));
                    chart.draw(data, options);
                };
        </script>
    </head>
    <body>
        <div id="chart_div" style="width: 900px ; height: 500px ;"></div>
    </body>
</html>
